@inherits LayoutComponentBase

<MudLayout>

    <MudThemeProvider Theme="_customTheme" />
    <MudDialogProvider />
    <MudSnackbarProvider />
    <MudPopoverProvider />

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
</MudLayout>

@code {

    MudTheme _customTheme = new MudTheme()
        {
            PaletteLight = new PaletteLight()
            {
                Primary = "#FE7101",
                PrimaryLighten = "#FCB076",
                PrimaryDarken = "#592600",
                Secondary = "#FECE01",
                SecondaryLighten = "#FCE899",
                SecondaryDarken = "#8E7201",
                Info = "#00FFFF",
                Error = "#FE0004"
            }
        };
}